@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quintessential&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #efeeed;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
  background-color: #f3e7e7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
